<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-3.2.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="br.com.nespolo.skedule.model" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>
	</bean>
	<bean id="dataSource" class="org.postgresql.ds.PGSimpleDataSource">
		<property name="user" value="postgres" />
		<property name="password" value="123456" />
		<property name="databaseName" value="drklinik" />
	</bean>
	<bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="txManager" />
	<context:annotation-config />
	<bean id="persistenceExceptionTranslationPostProcessor" class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	<!-- DAO -->
	<bean id="abstractHibernateDAO" abstract="true" class="br.com.nespolo.skedule.repository.AbstractHibernateDAO" />
	<bean id="funcionarioDAO" parent="abstractHibernateDAO" class="br.com.nespolo.skedule.repository.FuncionarioDAOHibernate" />
	<bean id="medicoDAO" parent="abstractHibernateDAO" class="br.com.nespolo.skedule.repository.MedicoDAOHibernate" />
	<bean id="pacienteDAO" parent="abstractHibernateDAO" class="br.com.nespolo.skedule.repository.PacienteDAOHibernate" />

	<!-- SERVICE -->
	<bean id="myService" class="br.com.nespolo.skedule.service.MyServiceImpl">
		<property name="funcionarioDAO" ref="funcionarioDAO" />
		<property name="medicoDAO" ref="medicoDAO" />
		<property name="pacienteDAO" ref="pacienteDAO" />
	</bean>

<!-- 	<context:component-scan base-package="br.com.nespolo.skedule" /> -->
</beans>